# Logs
logs
*.log
.pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Application build
build/

# Vscode options
.vscode/

# nyc test coverage
.nyc_output

# Docker-compose override file
docker-compose.override.yml